body {
	background: url(/images/layout/header_bg.gif) repeat-x top #EFEFE3;
	color: #333333;
}

#header {
	color: #FFFFFF;
	height: 75px;
}

#header img {
	margin-top: 10px;
}

#header a {
	color: #c8da86;
}

#user-options {
	display: inline;
	float: right;
	margin: 50px 0 0 0;
}

#user-options li {
	display: inline;
	float: left;
	list-style: none;
	margin-left: 15px;
}

#intro {
	margin-bottom: 40px;
}

div.info-box h2 {
	border-bottom: 1px solid #333333;
	margin-bottom: 5px;
}

div.info-box img.icon {
	display: inline;
	float: left;
	margin: 5px 10px 10px 0;
}

div.info-box div.actions {
	margin-top: 20px;
	text-align: center;
}

div.info-box div.actions img.alpha {
	margin-right: 20px;
}
