%h1 Connecting authors and readers like never before
%p#intro Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at volutpat tellus. Duis massa eros, euismod at elementum eu, imperdiet nec justo. Aliquam erat volutpat. Curabitur ipsum est, mattis vitae mattis ut, fermentum eu augue. Aliquam non sem purus. Aenean vel mi sit amet metus sodales pellentesque. Sed magna risus, vehicula et tristique in, pharetra ac felis. In hac habitasse platea dictumst. Nam eu neque vitae arcu mattis convallis. Etiam et ligula nulla, quis interdum justo. Aenean hendrerit, ante a semper bibendum, ipsum elit luctus mauris, et accumsan lacus arcu at lorem.

.info-box.grid_5.suffix_2
	%h2 For Authors
	%img{"src" => "/images/home/pen.png"}
	%p Publishing your work has never been easier.  If you're looking for a fast, easy way to get your work out there for the world to see, you've found the right place.  With our unique fee system you'll earn more money per book sold than on any other platform.
	
.info-box.grid_5
	%h2 For Readers
	%img{"src" => "/images/home/ipad.png"}
	%p No sign up required, you can visit the marketplace to find new books right away.  Registered users get access to features that help them find exactly what they're looking for.  Best of all registration is completely free.
	
.clear