!!! html5
%html
  %head
    = stylesheet_link_tag 'blueprint/screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = stylesheet_link_tag 'global'
    %title Skooah 

    %body
      = yield
